# Python
__pycache__/
*.py[cod]
.venv/
venv/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs / env
*.log
.env
.env.*

# Build / cache
.cache/
dist/
build/
node_modules/
**/node_modules/

# ROS2 / colcon generated outputs
**/build/
**/install/
**/log/
